body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.15;
    margin: 0;
    color:#000000
}
p {
    margin: 0;
    padding: 0;
}
ul {
    margin: 0 0 0 0;
}
hr {
    padding: 0 0 0 0;
    margin: -0.1px 7px 2px 7px;
    height: 1px;
    border-width: 0;
    background-color: #000000
}
.container-width {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
}
.flex-sect {
    background-color: rgb(255, 255, 255);
    padding: 100px 0;
}
.flex-title {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    padding: 5px;
}
.flex-desc {
    text-align: center;
    padding: 0 5px 0 5px;
}
#main {
    padding: 25px 0 25px 0;
}
#content {
    margin: 0 auto 0 auto;
    max-width: 780px;
}
#name {
    margin: 0 0 0 0;
}
#info {
    border: none rgba(255,255,255,0.5);
}
#section {
    font-size: 16px;
    padding: 0 0 0 0;
    display: block;
    text-decoration: none;
    margin: 0 0 0 0;
    text-align: left;
}
.cards {
    padding: 0 0 0 0;
    display: flex;
    justify-content: space-around;
    /* flex-flow: wrap; */
}
#others {
    display: flex;
    padding: 0 0 0 0;
    text-align: left;
    margin: 0 0 0 0;

}
#position-name, #others-name {
    padding: 0 0 0 0;
    position: static;
    flex-direction: row;
    margin: 0 auto 0 0;
    text-align: left;
    justify-content: flex-start;
}
#position-date, #others-date {
    padding: 0 0 0 0;
    text-align: left;
    justify-content: flex-start;
    display: block;
    flex-direction: row;
    margin: 0 0 0 auto;
}
#position-company {
    padding: 0 0 0 0;
}
#position-description, #others-school {
    padding: 0 25px 0 25px;
}
#other {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
